<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.community.dao.NewsDAO" >
<!--type指定的是对应的实体类  -->
    <resultMap id="BaseResultMap" type="com.community.bean.News" >
    <!-- id用来配置表的主键与类的属性的映射关系，column指定的是表的字段名，property指定的是类的属性名 -->
        <id column="id" property="id"/>
    <!-- result用来配置普通字段与类的属性的映射关系，column指定表的字段名，property指定类的属性名 -->
        <result column="author" property="author"/>
        <result column="submitter" property="submitter"/>
        <result column="submit_time" property="submit_time"/>
        <result column="revise_time" property="revise_time"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="readcount" property="readcount"/>
        <result column="collegeId" property="collegeId"/>
        <result column="clubId" property="clubId"/>

    </resultMap>
    <sql id="Base_Column_List" >
        author,submitter,submit_time,revise_time,title,content,readcount,collegeId,clubId
    </sql>
    <select id="queryNewsById" resultMap="BaseResultMap" parameterType="Int" >
        select
        <include refid="Base_Column_List" />
        from NEWS
        where id = #{id}
    </select>
    
    <select id="queryPageNews" resultMap="BaseResultMap">
    	select
    	<include refid="Base_Column_List" />
    	from NEWS
    	<where>
    	collegeId = #{collegeId} and clubId = #{clubId}
    	</where>
    	limit #{start},#{size}
    </select>

    <select id="queryTotalCount" resultType="java.lang.Integer">
        select  count(*) from NEWS
        <where>
            collegeId = #{collegeId} and clubId = #{clubId}
        </where>
    </select>
    <select id="queryNewsImgRecently" resultMap="BaseResultMap">
        select  * from NEWS n
        <where>
            n.clubId = #{clubId}
            AND n.content LIKE '%&lt;img%'
        </where>
        ORDER BY n.submit_time DESC
        LIMIT 5
    </select>

    <select id="queryNewsRecently" resultMap="BaseResultMap">
        select  * from NEWS n
        <where>
            n.clubId = #{clubId}
        </where>
        ORDER BY n.submit_time DESC
        LIMIT 6
    </select>

</mapper>