<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.community.dao.ReceiptDetailDAO" >
<!--type指定的是对应的实体类  -->
    <resultMap id="BaseResultMap" type="com.community.bean.ReceiptDetail" >
    <!-- id用来配置表的主键与类的属性的映射关系，column指定的是表的字段名，property指定的是类的属性名 -->
        <id column="receipt_item_id" property="receipt_item_id"/>
    <!-- result用来配置普通字段与类的属性的映射关系，column指定表的字段名，property指定类的属性名 -->
        <result column="receipt_item_id" property="receipt_item_id"/>
        <result column="receipt_id" property="receipt_id"/>
        <result column="spend_time" property="spend_time"/>
        <result column="reason" property="reason"/>
        <result column="detail" property="detail"/>
        <result column="cost" property="cost"/>  

    </resultMap>
    
    <insert id="saveReceiptDetail" parameterType="com.community.bean.ReceiptDetail">
    	insert into RECEIPTDETAIL(receipt_id,spend_time,reason,detail,cost)
 		values((select max(id) from RECEIPT),#{spend_time},#{reason},#{detail},#{cost})
    </insert>
</mapper>