<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.community.dao.StudentDAO" >
<!--type指定的是对应的实体类  -->
    <resultMap id="BaseResultMap" type="com.community.bean.Student" >
    <!-- id用来配置表的主键与类的属性的映射关系，column指定的是表的字段名，property指定的是类的属性名 -->
        <id column="stuNum" property="stuNum"/>
    <!-- result用来配置普通字段与类的属性的映射关系，column指定表的字段名，property指定类的属性名 -->
    	<result column="stuNum" property="stuNum"/>
        <result column="stuName" property="stuName"/>
        <result column="gender" property="gender"/>
        <result column="collegeId" property="collegeId"/>
        <result column="grade" property="class_"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="profession" property="profession"/>
        <result column="interest" property="interest"/>
        <result column="special" property="special"/>
        <result column="head" property="head"/>
    </resultMap>
    <select id="getStudentInfoById" resultMap="BaseResultMap" parameterType="String">
    	SELECT * FROM STUDENT where stuNum = #{stuNum}
    </select>
    
    <select id="getGeneralInfoByClubId" resultMap="BaseResultMap" parameterType="String">
    	SELECT * FROM STUDENT where stuNum = (select generalId from CLUB where clubId = #{clubId})
    </select>
    <select id="getUserByName" resultMap="BaseResultMap" parameterType="String">
    	SELECT * FROM STUDENT where stuNum = #{stuNum}
    </select>
    <select id="getFriendList" resultType="student" parameterType="String">
        SELECT * FROM STUDENT where collegeId = #{collegeId}
    </select>
    <select id="getFriendListByStudentId" resultType="student">
        SELECT * FROM STUDENT where stuNum in
        <foreach collection="list" item="stuNum" index="index" open="(" close=")" separator=",">
            #{stuNum}
        </foreach>
    </select>
    <select id="getFriendListByAdmin" resultType="student">
        SELECT * FROM STUDENT
    </select>

	<insert id="saveStudentInfo" parameterType="com.community.bean.Student">
		insert into STUDENT(stuNum,stuName,gender,collegeId,grade,email,phone,profession,interest,special,head)
		values(#{stuNum},#{stuName},#{gender},#{collegeId},#{class_},#{email},#{phone},#{profession},#{interest},#{special},#{head})
	</insert>
	
</mapper>