@CHARSET "UTF-8";
.head{
	
}
.head span{
	display:block;
	font-size:1.6em;
	color:#026fe8;
	width:800px;
	height:35px;
	border-bottom:1px solid #666;
}
.content p{
	color:#fff;
}
.title p{
	color:#ff8000;
	font-size:1.2em;
	text-align:center;
}

