/*报销首页样式*/
 	.title p{
		color:#026fe8;
		font-weight:700;
	}
	.title span{
		font-size:13px;
		color:#595a5a;
	}
	.recordbox{
		width:70%;
		position:absolute;
		left:0;
		margin-top:23px;
	}
	.onerecord{
		margin-bottom:12px;
		color:#ccc;
	}
	.onerecord span{
		display:block;
		font-size:15px;
		font-weight:700;
		width:231px;
		height:28px;
		border-bottom:1px solid #484646;
		line-height:33px;
		color:#6277ea;
	}
	.onerecord a{
		display:inline-block;
		width:45px;
		height:26px;
		background:#e2dbdb;
		line-height:26px;
		font-size:12px;
		text-align:center;
		border-radius:6px;
		margin-right:10px;
		cursor:pointer;
		text-decoration:none;
		color:#000;
	}
	.operbox{
		margin-top:-21px;
		margin-left:650px;
		
	}
	.operbox button{
		margin-left:10px;
	}
	#receiptEntry{
		width:214px;
		position:absolute;
		right:-315px;
		top:0;
	}
	#myAudit{
		width:214px;
		position:absolute;
		right:-222px;
		top:0;
	}
	#receiptwrapper .foot{
		position:absolute;
		left:30%;
		bottom:-30px;
		color:#026fe8;
		text-decoration:none;
	}
	.foot a{
		text-decoration:none;	
		font-size:16px;
		margin-right:10px;
		color:#026fe8;
	}
	#receiptwrapper{
		color:#ccc;
	}
	.tips{
		color:#f12626;
		font-size:16px;
		font-weight:500;
	}
/*报销表单样式*/
#receiptTab{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	-webkit-margin-start: auto;
	-webkit-margin-end: auto;
	width:80%;
	display: table;
	border-collapse: separate;
	border-color: #7cc9f15c;
	margin-left:74px;
}
#receiptTab th{
	height:32px;
	background:#d1ecf7;
}
#receiptCol{
	height:40px;
}
#receiptCol input{
	background:#ebeaea;
	border:none;
}
#receiptform input{
	width:93%;
	height:25px;
}
#calender{
	width:55%;
	height:24px;
}
#receiptform,#receiptwrapper{
	width:90%;
	position:relative;
	height:430px;
	margin-left:23px;
	color:#171717;
}
#receiptform{
	top:10px;
}
#receiptform th{
	font-size:15px;
}
#addCol{
	margin-left:74px;
}
.backOrsub{
	width:20%;
	margin:60px auto;
}
.backOrsub button{
	width:72px;
	height:37px;
	border-radius:7px;
	border:none;
	background:#318609;
	color:#e4e0e0;
	cursor:pointer;
}
button{
	cursor:pointer;
}
#backBtn{
	margin-left:62px;
	background:#5a8820;
}
#totalbox{
	width:200px;
	height:28px;
	margin-left:1022px;
}
#total{
	width:75px;
	height:30px;
	display:inline-block;
	border:1px solid #040404;
	position:absolute;
	line-height:30px;
	background:#e6cfcf;
	color:#000;
}
/*提交返回页面样式*/
#submitResult{
	width:45%;
	margin:52px auto;
}
p.resultTitle{
	color:#f50808;
	font-weight:bold;
}
#submitResult div{
	color:#fbecec;
	font-size:14px;
}
#submitResult span{
	font-weight:bold;
}
.auditFlow{
	color:#cacad8;
}
#amount{
	margin-right:20px;
}
#submitResult button{
	width:72px;
	height:37px;
	border-radius:7px;
	border:none;
	background:#318609;
	color:#e4e0e0;
	margin:99px 320px;
}

/*修改报销单样式*/
#total2{
	width:75px;
	height:30px;
	display:inline-block;
	border:1px solid #040404;
	line-height:30px;
	background:#e6cfcf;
	color:#000;
}
#backToHomePage{
    display:  inline-block;
    width: 72px;
    height: 37px;
    color:  #ccc;
    line-height:  37px;
    font-size: 14px;
    text-decoration:  none;
    background: #2b7b05;
    text-align: center;
    border-radius:  4px;
	border:none;
}